body {
  font-family: "Roboto", sans-serif;
}
/* ------------------Лого-------------*/
.header-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.header-logo-studio {
  color: #000000;
}
/*----------меню-top--------*/
.header-list-item {
  list-style-type: none;
}
.header-link:hover,
.header-list:focus {
  color: #2196f3;
}
.header-link-current {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.header-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

/*------------КОНТАКТЫ---------*/
.link-contact:hover,
.link-contact:focus {
  color: #2196f3;
}
.link-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
/*-------------Вступ----------*/
.main-link {
  width: 1600px;
  height: 120px;
  left: 59px;
  top: 100px;
  background: #2f303a;
}
.main-item {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.header-btn {
  color: #ffffff;
  background-color: #2196f3;
}
/*---------Наши преимущества--------*/
.hero-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.hero-link-info {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.hero-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
/*----------Чем занимаешься--------*/
.images-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/*-----------Наша команда----------*/
.personal-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.personal-link-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}
.personal-item-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}
/*--------------Лого меню-----------*/
.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background: #2f303a;
}
.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
}
.footer-logo-studio {
  color: #ffffff;
}
/*------------Контакт-----------*/
.address-info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-contact:hover,
.address-contact:focus {
  color: #ffffff;
}
.address-contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* ================== ПОРТФОЛИО ===============*/
/*--------------------контакты-----------------*/
.hero-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
}
.hero-logo-studio {
  color: #000000;
}
.header-link-current {
  color: #2196f3;
}
/*-------------Главное меню-----------------*/
.button-item-current {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-item:hover,
.button-item:focus {
  color: #ffffff;
  background-color: #2196f3;
}
/*-------------Наши проекты---------------*/

.images-product {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.images-item-product {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
/*------------Контакты-----------*/
.address-contact-info {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background: #2f303a;
}
