body {
  font-family: "Roboto", sans-serif;
}
/* ------------------Лого-------------*/
:root {
  --color: #2196f3;
  --black--color: #000000;
  --text-color: #212121;
  --background-color: #2f303a;
  --text-info: #757575;
  --block-color: #ffffff;
  --background: #238de4;
}

.header-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color);
  text-decoration: none;
}
.header-logo-studio {
  color: var(--black--color);
}
/*----------меню-top--------*/
.header-list-item {
  list-style-type: none;
}
.header-link:hover,
.header-list:focus {
  color: var(--color);
}
.header-link-current {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color);
}
.header-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*------------КОНТАКТЫ---------*/
.link {
  text-decoration: none;
}
.link-contact:hover,
.link-contact:focus {
  color: var(--color);
}
.link-contact {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
  color: var(--text-info);
}
/*-------------Вступ----------*/
.main-link {
  width: 1600px;
  height: 120px;
  left: 59px;
  top: 100px;
  background: var(--background-color);
}
.main-item {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--block-color);
}
.header-btn:hover,
.header-btn:focus {
  background-color: var(--background);
}
.header-btn {
  border: none;
  cursor: pointer;
  background-color: var(--color);
  color: var(--block-color);
}

/*---------Наши преимущества--------*/
.hero-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.hero-link-info {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}
.hero-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-info);
}
/*----------Чем занимаешься--------*/
.images-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*-----------Наша команда----------*/
.personal-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.personal-link-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.personal-item-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-info);
}
/*--------------Лого меню-----------*/
.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background: var(--background-color);
}
.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color);
}
.footer-logo-studio {
  color: var(--block-color);
}
/*------------Контакт-----------*/

.address-info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--block-color);
}
.address-contact:hover,
.address-contact:focus {
  color: var(--color);
}
.address-contact {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* ================== ПОРТФОЛИО ===============*/
/*--------------------контакты-----------------*/
.hero-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color);
}
.hero-logo-studio {
  color: var(--black--color);
}
.header-link-current {
  color: var(--color);
}
/*-------------Главное меню-----------------*/
.button-item-current {
  background: var(--color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-item:hover,
.button-item:focus {
  color: var(--block-color);
  background-color: var(--color);
}
.product-button {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowarp;
  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*-------------Наши проекты---------------*/

.images-product {
  font-weight: 700;
  font-size: 18px;
  line-height: 0.2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.images-item-product {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-info);
}
/*------------Контакты-----------*/
.address-contact-info {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background: var(--background-color);
}
.address {
  color: var(--block-color);
  text-decoration: none;
}
